*{
    margin: 1px;
}

h1,h2{
    color: #39C2AB;
}
h1{
    margin-block-start: 0em;
   
}
#text-area{
    background-color: white;
    width: 100%;
    margin-top: 3.5em;
    text-align: center;
    font-size: 1.5em;
}
.resultado{
    border-radius: 0.5em;
    height: 3em;
    width: 100%;
    background-color: #39C2AB;
    border: none;
    color: rgb(244, 252, 252);
    margin-top: 0.7em;
}
.input-area{
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 36, 33);
}
.area{
    display: flex;
    justify-content: center; 
}

input{
   
    height: 2em;
    border-radius: 0.4em;
}
button{
    border-radius: 0.5em;
    height: 3em;
    width: 100%;
    background-color: #39C2AB;
    border: none;
    color: black;
}
button:hover{
    cursor: pointer;
}
footer{
    margin-top: 1em;
    color: white;
}